{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.893"}
        cjohansen/dumdom {:mvn/version "2022.04.12"}
        com.taoensso/timbre {:mvn/version "5.1.2"}}
 :aliases
 {:dev {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.15"}
                     cider/piggieback {:mvn/version "0.5.3"}
                     devcards {:mvn/version "0.2.6"}
                     net.clojars.cjohansen/dumdom-devcards {:mvn/version "2021.06.14"}}
        :extra-paths ["dev-resources" "devcards"]}}}
