{:title "Logg inn", :logo {:logo/kind :virtuoso/name, :url "/images/virtuoso-logo.svg", :color "var(--silver-chalice)", :theme :theme/blue-gradient}, :symbol {:logo/kind :virtuoso/gradient, :url "/images/virtuoso-greyscale.svg"}, :text "Har du ikke konto? Ikke noe stress, vi lager en for deg. Bare skriv inn eposten og trykk på knappen.", :form {:inputs ({:placeholder "Epost-adresse", :disabled true, :value "christian@cjohansen.no", :onInput [[:actions/assoc-in [:transient {:location/page-id :virtuoso.pages/login-pages} :email] :event/target.value]]} {:placeholder "Engangskode", :disabled true, :onInput [[:actions/assoc-in [:transient {:location/page-id :virtuoso.pages/login-pages} :otp] :event/target.value]]}), :button {:text "Logg inn", :disabled? true, :spinner? true, :actions nil}, :actions nil}}