{:title "Login", :logo {:logo/kind :virtuoso/name, :url "/images/virtuoso-logo.svg", :color "var(--silver-chalice)", :theme :theme/blue-gradient}, :symbol {:logo/kind :virtuoso/gradient, :url "/images/virtuoso-greyscale.svg"}, :text "Don't have an account? No worries, one will be created for you. Just enter your email and follow along.", :form {:inputs ({:placeholder "Email", :disabled true, :value "christian@cjohansen.no", :onInput [[:actions/assoc-in [:transient {:location/page-id :virtuoso.pages/login-pages} :email] :event/target.value]]}), :button {:text "Login", :disabled? true, :spinner? true, :actions [[:actions/public-command :login/request-otp "christian@cjohansen.no" :en]]}, :actions [[:actions/public-command :login/request-otp "christian@cjohansen.no" :en]]}}