@import url(reset.css);
@import url(fonts.css);

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --noire: #000;
  --morue-grise-10: #0a0a0a;
  --morue-grise-20: #121212;
  --morue-grise-30: #1c1c1c;
  --fumee-de-bois: #18181a;
  --puits-de-mine: #303030;
  --scorpion: #606060;
  --silver-chalice: #ababab;
  --mercury: #e6e6e6;
  --galerie: #f0f0f0;
  --blanc: #fff;

  --violet-electrique: #db00ff;
  --bleu-cagnard-10: #13a3fc;
  --bleu-cagnard-20: #247bfd;
  --ruban-bleu: #3750ff;
  --picton-bleu: #4ea8f4;
  --turquoise-vif: #00cefa;

  --fg: var(--blanc);
  --bg: var(--puits-de-mine);
  --default-gradient: linear-gradient(-225deg, var(--violet-electrique) 0%, var(--ruban-bleu) 48%, var(--turquoise-vif) 100%);
  --bg-gradient: linear-gradient(330deg, var(--morue-grise-30) 0%, var(--morue-grise-20) 45%, var(--morue-grise-20) 58%, var(--puits-de-mine) 100%);

  /* Theme colors */

  --theme-color: var(--fumee-de-bois);

  --brain-text: var(--galerie);
  --brain-gradient1: var(--violet-electrique);
  --brain-gradient2: var(--ruban-bleu);
  --brain-gradient3: var(--turquoise-vif);

  --button-color: var(--ruban-bleu);
  --button-highlight-color: var(--bleu-cagnard-20);
  --button-engage-color: var(--bleu-cagnard-10);
  --button-fg: var(--blanc);
  --button-spinner-color: var(--blanc);

  --icon-button: var(--silver-chalice);
  --icon-button-hover: var(--galerie);
  --icon-button-highlight: var(--galerie);
  --icon-button-highlight-hover: var(--turquoise-vif);

  --input-bg: var(--morue-grise-30);
  --input-fg: var(--silver-chalice);
  --input-focus-fg: var(--mercury);
  --input-focus-outline: var(--turquoise-vif);
  --input-placeholder: var(--scorpion);

  --link-color: var(--bleu-cagnard-10);

  --spinner-color-1: var(--violet-electrique);
  --spinner-color-2: var(--ruban-bleu);
  --spinner-color-3: var(--turquoise-vif);

  --timer-progress-track: var(--morue-grise-30);
}

@media (min-width: 768px) {
  :root {
    --bg-gradient: linear-gradient(320deg, var(--morue-grise-30) 0%, var(--morue-grise-10) 40%, var(--noire) 60%, var(--puits-de-mine) 100%);
  }
}

html,
body {
  background: var(--bg-gradient);
  color: var(--fg);
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Work Sans', helvetica, arial, sans-serif;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.33;
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.gradient {
  background-image: var(--default-gradient);
}

#app {
  min-height: 100%;
}

.bg {
  background: var(--bg);
}

.small {
  font-size: 0.75rem;
}

a,
a:link,
a:visited,
.link {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:link:hover,
a:visited:hover,
a.inverted,
a.inverted:link,
a.inverted:visited,
.link:hover {
  text-decoration: underline;
}

/* Spinner */

@-webkit-keyframes dash-anim {
  0% {stroke-dashoffset: 200;}
  50% {stroke-dashoffset: 0; -webkit-transform:rotate(0deg);}
  100% {stroke-dashoffset: 200; -webkit-transform:rotate(360deg);}
}

@keyframes dash-anim {
  0% {stroke-dashoffset: 200;}
  50% {stroke-dashoffset: 0; transform:rotate(0deg);}
  100% {stroke-dashoffset: 200; transform:rotate(360deg);}
}

@-webkit-keyframes rotate-anim {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

@keyframes rotate-anim {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.spinner {
  --spinner-track: rgba(0, 0, 0, 0.1);
  --spinner-line-1: var(--spinner-color-1);
  --spinner-line-2: var(--spinner-color-2);
  --spinner-line-3: var(--spinner-color-3);
}

.spinner-inner {
  animation: 2.2s linear 0s infinite normal none running rotate-anim;
  transform-origin: center center;
}

.spinner-circle {
  animation: 4.84s linear 0s infinite normal none running dash-anim;
  transition: stroke-dasharray 2000ms ease 0s, stroke 600ms ease 0s;
  transform-origin: center center;
}

/* Headings */
.h1 {font-size: 2rem;}
.h2 {font-size: 1.8rem;}
.h3 {font-size: 1.6rem;}
.h4 {font-size: 1.4rem;}
.h5 {font-size: 1.2rem;}

/* Vertical space */
.vs-s .mod, .vs-m .vs-s .mod {margin: 10px 0;}
.vs-m .mod {margin: 20px 0;}

/* Buttons */

.button,
.button:link,
.button:visited {
  --spinner-color-1: var(--button-spinner-color);
  --spinner-color-2: var(--button-spinner-color);
  --spinner-color-3: var(--button-spinner-color);
  align-items: center;
  background: var(--button-color);
  border: 3px solid var(--button-color);
  color: var(--button-fg);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-weight: normal;
  justify-content: center;
  line-height: 1;
  padding: 12px 17px;
  position: relative;
  transition: background 0.3s, border-color 0.3s, color 0.3s;
  width: 100%;
}

.button:active,
.button:link:active,
.button:hover:active,
.button:visited:active {
  background: var(--button-engage-color);
  border-color: var(--button-engage-color);
}

.button .spinner {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -16px;
}

.button:hover,
a.button:hover {
  background: var(--button-highlight-color);
  border-color: var(--button-highlight-color);
  text-decoration: none;
}

.button.button-disabled,
.button.button-disabled:hover {
  background: var(--button-color);
  opacity: 0.5;
  cursor: default;
}

/* Input fields */
.input {
  background: var(--input-bg);
  color: var(--input-fg);
  border: 1px solid currentColor;
  font-family: inherit;
  font-size: inherit;
  padding: 12px;
  border-radius: 4px;
  transition: color 0.1s;
  width: 100%;
}

.input:focus {
  color: var(--input-focus-fg);
  outline: 1px solid var(--input-focus-outline);
}

.input::placeholder {
  color: var(--input-placeholder);
}

/* Timer */
.timer-time {
  font-size: 3rem;
}

.timer-time {
  display: flex;
  justify-content: center;
}

.timer-minutes, .timer-seconds {
  flex: 50% 1 0;
}

.timer-minutes {
  text-align: right;
}

.timer-separator {
  flex-grow: 0;
  opacity: 1;
  transition-timing-function: ease-in;
}

.timer-progress-track,
.timer-progress-line {
  background: var(--timer-progress-track);
  border-radius: 6px;
  height: 6px;
}

.timer-progress-line {
  background-image: var(--default-gradient);
  transition: width 1s linear;
}

/* Icons */
.svg {display: block;}

/* Icon buttons */
.icon-button {
  color: var(--icon-button);
  transition: color 0.25s ease-in;
}

.icon-button:hover {
  color: var(--icon-button-hover);
}

.icon-button-highlight {
  color: var(--icon-button-highlight);
}

.icon-button-highlight:hover {
  color: var(--icon-button-highlight-hover);
}

